<app-header></app-header>
<div class="container">
  <section class="info-projects">
    <h1>Projetos</h1>
    <p>Aqui está um seleção dos meus melhores projetos.<br></p>

     <p> Aqui você vai encontrar projetos nas principais tecnlogoias como Angular e React.<br></p>


      <p>Confira meu repositório no <a href="https://github.com/MadeiroRod?tab=repositories">GitHub</a>.</p>

    <button>Curriculo</button>
  </section>
  <section class="projects">
    <div class="imagem-projeto">
      <img src="../../../assets/projetoRar.jpg" alt="Imagem do projeto" class="imagem1"/>
    </div>
  </section>
</div>
