<app-header></app-header>
<div class="container">
  <section>
    <p>Olá, sou <strong>Rodrigo Madeiro</strong>;<br>

      Me chame de Madeiro<br>
      <br>
      Desenvolvedor brasileiro com uma paixão profunda por<br> tecnologia, música e basquete. <br>
      Iniciou sua carreira no atendimento ao cliente, onde<br> aprendeu o valor da comunicação eficaz e do pensamento crítico.<br>
      <br>
      Avançando para funções de Analista e depois instrutor,<br> desenvolveu habilidades em gestão de projetos,<br> gestão de tempo e análise de dados. <br>
      <br>
      Sua experiência como Gerente de Operações e Gerente comercial <br>reforçou suas habilidades em soluções inovadoras<br> e o impulsionou a se dedicar totalmente ao desenvolvimento de software. <br>
      <br>
      Com uma base em liderança e resolução<br> de problemas, agora busco oportunidades para aplicar<br> minha criatividade e expertise técnica em projetos que<br> valorizam inovação e design de alta qualidade.<br>
      <br>
      Conecte-se para descobrir como Madeiro pode elevar<br> sua presença digital, combinando estética, funcionalidade e inovação.<br>
      </p>
  </section>
  <section>

  </section>
</div>
